
#include <windows.h>

#define PRODUCT_ICON          "logo.ico"

#define COMPANY_NAME          "Cube Studio"
#define FILE_DESCRIPTION      "PvZ Tools"
#define LEGAL_COPYRIGHT       "(C) 2018 lmintlcx"
#define ORIGINAL_FILENAME     "PvZ_Tools.exe"
#define PRODUCT_NAME          "PvZ Tools"

#define VERSION_MAJOR         1
#define VERSION_MINOR         12
#define VERSION_MAINTENANCE   0
#define VERSION_BUILD         1278

#define TOSTRING_(arg) #arg
#define TOSTRING(arg) TOSTRING_(arg)

#define VERSION_VER VERSION_MAJOR, VERSION_MINOR, VERSION_MAINTENANCE, VERSION_BUILD
#define VERSION_STRING TOSTRING(VERSION_MAJOR) "." TOSTRING(VERSION_MINOR) "." TOSTRING(VERSION_MAINTENANCE) "." TOSTRING(VERSION_BUILD)


IDI_ICON1 ICON DISCARDABLE PRODUCT_ICON

VS_VERSION_INFO VERSIONINFO
    FILEVERSION VERSION_VER
    PRODUCTVERSION VERSION_VER
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_APP
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", COMPANY_NAME
                VALUE "FileDescription", FILE_DESCRIPTION
                VALUE "FileVersion", VERSION_STRING
                VALUE "LegalCopyright", LEGAL_COPYRIGHT
                VALUE "OriginalFilename", ORIGINAL_FILENAME
                VALUE "ProductName", PRODUCT_NAME
                VALUE "ProductVersion", VERSION_STRING
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0804, 1200
        END
    END
